# Node
node_modules/
npm-debug.log*
yarn-error.log*
.npm/

# Angular
dist/
.angular/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Local development artifacts
keys/
*.ps1